@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
html,body{
    height:100%;
}
body{
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#222;
    font-family:'Anoymous Pro',monospace;
    color:#eee;
}
.line{
    width:674px;
    border-right:2px solid #eee;
    font-size:28px;
    text-align:center;
    white-space:nowrap;
    overflow:hidden;
}

.animation{
    animation:grow 4s steps(44)1s normal both,
    blink 500ms steps(44)infinite normal;
}
@keyframes grow {
    from{
    width:0;
    }
    to{
        width:674px;
    }
}

@keyframes blink {
    from{
        border-right-color: #eee;
    }
    to{
        border-right-color: transparent;
    }
}